.header{
    height:1rem;
    width: 100%;
    font-size:.3rem;
    background:#fff;
    color:red;
    text-align: center;
    line-height:1rem;
    border-bottom:1px solid #cccccc;
    box-shadow: 0 0 0 .1rem 8 #ccc;
    position:fixed;
    z-index: 100;
    top:0;
}
.nav{
    height:1rem;
    width:100%;
    z-index: 99;
    background:pink;
    position:fixed;
    top:1rem;
     border-bottom: 1px solid #ccc;
    ul
    {   list-style:none;
        height:100%;
        width:100%;
        display:flex;
        justify-content: space-between;
       
        padding:0;
        margin:0;
padding: 0 .2rem;
        li{
           text-align: center;
           align-self: center;
           line-height:1rem;
           height:100%;
           border-bottom:1px solid red;
        }
    }
}
.home-content{
    height:100%;
    width:100%;
    margin:2rem 0 .5rem 0;
    text-align: left;
    .template6{
        height:1.8rem;
        width:100%;
        img{
            width:100%;
            height:100%;
            //display: inline-block;
            vertical-align: middle;
        }
   
}
.template_title{
    text-align: left;
    font-size: .14rem;
    padding-left: .05rem;
    line-height:.5rem;
    height:.5rem;
    color:#000;
    b{
        border-left:.04rem solid #ff4f39;
        margin-right:.04rem;
        border-radius:.04rem;
    }
    em{
        font-weight:400;
        color:#ff4f39;
        margin:0 .02rem;
    }
    span{
        font-size:.12rem;
        color:#ff4f39;
    }
}
.template7{
    height:3rem;
    width:100%;
    margin:0;
    padding:0;
    
    img{
        width:100%;
        height:100%;
        
        vertical-align: middle;
    }
}
    .content-m1{
        
        ul{
            padding:.1rem 0 0 0;
            overflow: hidden;
              li{
                list-style:none;
                width:25%;
                float:left;
                text-align:center;
                margin:.05rem 0 0 0;
                img{
                    width:.8rem;
                    height:auto;
                    vertical-align: middle;

                }
                p{
                    padding-top:.12rem;
                    margin-bottom:0;
                }
            }
        }
    }
}

.template9{
    .template_title{
        font-size: .14rem;
        padding-left: .05rem;
        line-height:.5rem;
        height:.5rem;
        color:#000;
        b{
            border-left:.04rem solid #ff4f39;
            margin-right:.04rem;
            border-radius:.04rem;
        }
        em{
            font-weight:400;
            color:#ff4f39;
            margin:0 .02rem;
        }
        span{
            font-size:.12rem;
            color:#ff4f39;
        }
    }
    .template_pro{
        ul{
            padding-top:.3rem;
            list-style:none;
            background:#fff;
            padding-left:0;
            li{
                padding:0 .1rem .2rem;
                margin:0 .1rem .2rem;
                border-bottom:1px solid #e0e0e0;
                overflow: hidden;
                position: relative;
                a{
                    text-decoration: none;
                    color:#3c4347;
                    .pro_img{
                        float: left;
                        width:40%;
                        img{
                            display: inline-block;
                            width:100%;
                            vertical-align: middle;
                        }
                        
                    }
                    .pro_dt1{
                        float:left;
                        width:50%;
                        padding-left:.1rem;
                        position:absolute;
                        top:50%;
                        left:60%;
                        transform: translate(-33%,-66%);
                        .pro_name{
                            font-size:.3rem;
                            font-weight:700;
                            color:#333;
                            height:.4rem;
                            line-height:.4rem;
                            white-space: nowrap;
                            padding-left:0;
                            text-align:left;
text-overflow: ellipsis;
overflow: hidden;
                        }
                        .pro_desc{
                            color:#333;
                          height:1rem;
                            line-height:.4rem;
                            height:.8rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                             
                        }
                        .pro_price{
                            margin-top:.11rem;
                            font-size:.16rem;
                            font-weight:700;
                            color:#ff4f39;
                            del{
                                color:#999;
                                font-weight: 400;
                            }
                            
                        }
                    }
                }
            }
            
             
            
        }
        
    }
    
}